<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          (click)="collapsed = !collapsed"
        >
          <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/recipe-book']">Lets Cook</a>
      </div>

      <div
        class="navbar-collapse"
        [class.collapse]="collapsed"
        (window:resize)="collapsed = true"
      >
        <ul class="nav navbar-nav">
          <li routerLinkActive="active" *ngIf="isAuthenticated">
            <a [routerLink]="['/recipe-book']">Recipes</a>
          </li>
          <li routerLinkActive="active" *ngIf="!isAuthenticated">
            <a [routerLink]="['/auth']">Authenticate</a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/shopping-list']">Shopping List</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isAuthenticated">
            <a (click)="onLogout()">Logout</a>
          </li>
          <li class="dropdown" appDropDown *ngIf="isAuthenticated">
            <a class="dropdown-toggle" role="button"
              >Manage <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a (click)="onSaveData()">Save Data</a></li>
              <li><a (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main class="content">
  <router-outlet></router-outlet>
</main>
