<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<section class="container">
  <section class="row">
    <section class="col-xs-10">
      <app-edit-shopping-list></app-edit-shopping-list>
      <hr />
      <ul class="list-group">
        <a
          class="list-group-item"
          *ngFor="let ingredient of ingredients$ | async; let id = index"
          (click)="onEditIngredient(id)"
        >
          {{ ingredient.name }} ({{ ingredient.amount }})
        </a>
      </ul>
    </section>
  </section>
</section>
